$background: #0d1117;
$foreground: #b0b4bc;
$background-alt: #232320;
$black: #000;
$white: #fff;
$green: #98971a;
$lightgreen: #b8bb26;
$yellow: #d79921;
$lightyellow: #fabd2d;
$red: #cc241d;
$lightred: #fb4934;
$blue: #0db7ed;
$lightblue: #83a598;
$magenta: #b16286;
$lightmagenta: #d3869b;
$cyan: #689d6a;
$lightcyan: #8ec07c;
$gray: #928374;
$lightgray: #a89984;
$warning: $yellow;
$error: $red;
$urgent: $red;


* {
  all: unset;
}

.workspace {
  font-size: 20px;
  border-radius: 5px 5px 5px 5px;
  padding: 2px 2px 2px 2px;
  font-weight: 300;
}

.workspace.eventbox {
  padding: 5px 5px 5px 5px;
  font-weight: 300;
  padding-top: 50px;
  margin-left: 20px;

  &:hover {
    background-color: rgba($magenta, 0.6);
    border-radius: 15px;
  }
}

.workspace.eventboxfocus {
  padding: 5px 5px 5px 5px;
  min-width: 50px;
  font-weight: 300;
  font-size: 15px;
  padding: 5px 5px 5px 5px;
  border-radius: 25px 25px 25px 25px;
  background-color: rgbab($lightred, 0.6);
}

.time {
  background-color: grey;
  padding: 5px 0px 5px 10px;
  margin-right: 0px;
}

.time.hm {
  font-size: 38px;
  font-weight: bold;
  border-radius: 5px 0px 0px 5px;
  padding-left: 2px;
  color: Yellow;
  margin-left: 10px;
}

.time.sec {
  margin-left: 0;
  padding-left: 0;
  font-size: 20px;
  font-weight: normal;
  border-radius: 0px 5px 5px 0px;
  padding-right: 0px;
  padding-top: 12px;
}

.info {
  font-size: 25px;
  margin-right: 10px;
  background-color: gray;
  border-radius: 5px 5px 5px 5px;
  padding: 3px 3px 3px 3px;
}
